<!DOCTYPE html>
<html>
  <title>SHOP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/shop.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="js/myangular.js"></script>
<body>
<div class="container-fluid" ng-app="myShoppingList" ng-cloak ng-controller="myCtrl">
	<div class="row">
		<div class="ItemCard" ng-repeat="x in products track by $index">
			<div class="row">
				<div class="img">
				<img src="resource/preview.png">
				</div>
				<div class="ShopData">
					<div class="header">
						<h2 class="ItemTitle">{{x}}</h2>
						<div class="PriceContainer">
							<img src="resource/coin.png" class="PriceIcon">
							<h3 id="price">{{price[$index]}}</h3>
						</div>
						<hr>
					</div>
					<div class="content">
						<h5 class="DescTitle">Specifikáció:</h5>
						<ul class="PackContent">
							<li>-</li>
							<li>-</li>
							<li>-</li>
							<li>-</li>
						</ul>
						<p class="PackDesc">Leírás</p>
					</div>
					<div class="shopping">
						<form action="" method="post">
							<input type="number" class="piece" name="card1" min="1" max="" value="1"><span class="db"> db (Pack)</span>
							<input type="button" class="btn btn-primary" value="Vásárlás">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
    
<br/>
<hr/>

  <div class="Add">
	<h1>Add new Item</h1>
	<p>Item Name: <input type="text" id="itemName" ng-model="addItem"></p>
	<p>Item Price: <input type="number" id="itemPrice" ng-model="addPrice"></p>
  </div>
  <div>
     <button ng-click="add()" class="btn btn-success">Add</button>
  </div>
    <h3 style="color:red;" class="errortext">{{errortext}}</h3>
</div>
</body>
</html>
